*,*::after, *::before {
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 100%;
}

body {
    color: #ccc;
    background-color: #222425;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100svh;
    padding: 1rem;
    margin: 0;
    position: relative;
    font-size: 100%;
    letter-spacing: 0.01rem;
    line-height: 140%;
    background-image: url(/hi.png);
    background-repeat: no-repeat;
    background-position: 85% bottom;
    background-size: clamp(50px, 20%, 400px) auto;
}

h1 {
    line-height: 120%;
}

article, header, footer {
    max-width: 900px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

code {
    padding: 0.3rem 0.5rem;
    position: relative;
}

code::before {
    content: "";
    position: absolute;
    background-color: #444;
    inset: 0;
    z-index: -1;
    border-radius: 0.5rem;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 206, 206);
}

footer>small {
    font-size: 0.8rem;
}

div {
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
}

ul > li {
    margin: 0.5rem 0;
}

.ball {
    z-index: -100;
    filter: blur(10px) contrast(0.7);
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(4,116,191,1) 60%, rgba(0,212,255,1) 97%);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    transition: 0.1s;
    pointer-events: none;
    position: fixed;
    animation: spin 9s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
 }

100% {
    transform: rotate(360deg);
}
}
